{
    "openapi": "3.0.0",
    "info": {
        "title": "Nika Web Services",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.rashtdev.ir/api/v1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1"
        }
    ],
    "paths": {
        "/addresses": {
            "get": {
                "tags": [
                    "آدرس"
                ],
                "summary": "لیست آدرس ها بصورت صفحه بندی",
                "description": "",
                "operationId": "9f2baf910ef29838b3ca9503a3ca6232",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "شناسه صاحب آدرس. فقط کاربری که مدیر و دسترسی مجاز را دارد میتواند بر اساس این فیلد جستجو کند",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام صاحب آدرس. فقط کاربری که مدیر و دسترسی مجاز را دارد میتواند بر اساس این فیلد جستجو کند",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "description": "شماره تلفن آدرس",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع. Home:خانه Office:دفتر",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Home",
                                "Office"
                            ]
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "چیدمان. oldest:قدیمی ترین latest:جدیدترین",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "latest",
                            "enum": [
                                "oldest",
                                "latest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "آدرس"
                ],
                "summary": "ثبت آدرس",
                "description": "کاربری که  مجوز مدیریت آدرس ها یا ایجاد آدرس را دارد میتواند با ارسال user_id برای دیگران هم آدرس ثبت کند.",
                "operationId": "8f39f6321e2b382380b373355045c670",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "address",
                                    "city_id",
                                    "postal_code",
                                    "phone_number",
                                    "type"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "شناسه کاربر",
                                        "type": "number"
                                    },
                                    "city_id": {
                                        "description": "شناسه شهر",
                                        "type": "number"
                                    },
                                    "address": {
                                        "description": "آدرس",
                                        "type": "string"
                                    },
                                    "postal_code": {
                                        "description": "کد پستی. بدون خط تیره مثال: 5717858731",
                                        "type": "number"
                                    },
                                    "phone_number": {
                                        "description": "شماره تلفن یا شماره موبایل. تفلن ثابت باید با کد شهر وارد شود بدون خط تیره مثال: 02162999977",
                                        "type": "number"
                                    },
                                    "type": {
                                        "description": "Home: خانه - Office: دفتر",
                                        "type": "string",
                                        "enum": [
                                            "Home",
                                            "Office"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/addresses/{id}": {
            "post": {
                "tags": [
                    "آدرس"
                ],
                "summary": "بروزرسانی آدرس",
                "description": "",
                "operationId": "ca1b5b8d45ba8f732d9592785944f460",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه آدرس",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "address",
                                    "city_id",
                                    "postal_code",
                                    "phone_number",
                                    "type"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "city_id": {
                                        "description": "شناسه شهر",
                                        "type": "number"
                                    },
                                    "address": {
                                        "description": "آدرس",
                                        "type": "string"
                                    },
                                    "postal_code": {
                                        "description": "کد پستی. بدون خط تیره مثال: 5717858731",
                                        "type": "number"
                                    },
                                    "phone_number": {
                                        "description": "شماره تلفن یا شماره موبایل. تفلن ثابت باید با کد شهر وارد شود بدون خط تیره مثال: 02162999977",
                                        "type": "number"
                                    },
                                    "type": {
                                        "description": "Home: خانه - Office: دفتر",
                                        "type": "string",
                                        "enum": [
                                            "Home",
                                            "Office"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "آدرس"
                ],
                "summary": "حذف آدرس",
                "description": "",
                "operationId": "88b5a2bf3ca4f7bb44c84127a6e4c119",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه آدرس",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/upload/{id}": {
            "get": {
                "tags": [
                    "آپلود فایل"
                ],
                "summary": "دریافت فایل اپلود شده",
                "description": "",
                "operationId": "a921152c2cf9b0b317172841ef413fdf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه مدیا",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/upload/file": {
            "post": {
                "tags": [
                    "آپلود فایل"
                ],
                "summary": "اپلود فایل",
                "description": "",
                "operationId": "5e991578a3b13d22a6698a2f659c9cbd",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "فایل",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/cities": {
            "get": {
                "tags": [
                    "شهر"
                ],
                "summary": "لیست شهر ها بصورت صفحه بندی",
                "description": "",
                "operationId": "a7ec9e1ae16c0e72817824b283c3cb6d",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "جستجوی نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "description": "جستجوی نام استان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "شهر"
                ],
                "summary": "ثبت شهر",
                "description": "",
                "operationId": "0e59a8b17ea4e77383a49e1a2418915b",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "province_id"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    },
                                    "province_id": {
                                        "description": "شناسه استان",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/cities/{id}": {
            "post": {
                "tags": [
                    "شهر"
                ],
                "summary": "بروزرسانی شهر",
                "description": "",
                "operationId": "971b457e25297bdf6b19ec82f31e0eb0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه شهر",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name",
                                    "province_id"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    },
                                    "province_id": {
                                        "description": "شناسه استان",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "شهر"
                ],
                "summary": "حذف شهر",
                "description": "",
                "operationId": "6bdf73c70d6ef45540ae8c9b54c5372b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه شهر",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/document-groups": {
            "get": {
                "tags": [
                    "گروه مستندات"
                ],
                "summary": "لیست گروه های مستندات بصورت صفحه بندی",
                "description": "",
                "operationId": "a062a101a5b987c9f0e90203f54b028d",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "جستجوی عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "گروه مستندات"
                ],
                "summary": "ثبت گروه مستندات",
                "description": "",
                "operationId": "217a7ef89e9f72469318aca41627dfb8",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "format"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "توضیحات",
                                        "type": "number"
                                    },
                                    "format": {
                                        "description": "فرمت فایل",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/document-groups/{id}": {
            "post": {
                "tags": [
                    "گروه مستندات"
                ],
                "summary": "بروزرسانی گروه مستندات",
                "description": "",
                "operationId": "f7d0a07c3c98842fc84ce39eddfd8b29",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه گروه مستندات",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "title",
                                    "format"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "توضیحات",
                                        "type": "number"
                                    },
                                    "format": {
                                        "description": "فرمت فایل",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "گروه مستندات"
                ],
                "summary": "حذف گروه مستندات",
                "description": "",
                "operationId": "a7237adfe13d7ed69ff3ef236ba4d44a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه گروه مستندات",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/exercises": {
            "get": {
                "tags": [
                    "تمرینات"
                ],
                "summary": "لیست تمرینات بصورت صفحه بندی",
                "description": "",
                "operationId": "40162bab41a8516dbe628ebea0c38013",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "تمرینات"
                ],
                "summary": "ثبت تمرین",
                "description": "",
                "operationId": "c85ba63824eab8b66372a4a25f214d3c",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "intelligence_package_id",
                                    "title"
                                ],
                                "properties": {
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "number"
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "is_locked": {
                                        "description": "آیا تمرین قفل است ؟ 1بله 0خیر",
                                        "type": "number",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/exercises/{id}": {
            "post": {
                "tags": [
                    "تمرینات"
                ],
                "summary": "بروزرسانی تمرین",
                "description": "",
                "operationId": "1d281b597aeb22a718bf2e19cabfbdbb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه تمرین",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "is_locked",
                                    "title"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "number"
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "is_locked": {
                                        "description": "آیا تمرین قفل است ؟ 1بله 0خیر",
                                        "type": "number",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "تمرینات"
                ],
                "summary": "حذف تمرین",
                "description": "",
                "operationId": "65d6a726a2386fd4b4d5609b7b70ed34",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه تمرین",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/exercises/{id}/questions": {
            "get": {
                "tags": [
                    "تمرینات"
                ],
                "summary": "لیست سوال های تمرین بصورت صفحه بندی",
                "description": "",
                "operationId": "302ac8a3e83c201d7bb4293c7a84ca34",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه تمرین",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "سوال"
                ],
                "summary": "ثبت سوال",
                "description": "",
                "operationId": "2f887d5c23ea301a20adfbc847717225",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه تمرین",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/grades": {
            "get": {
                "tags": [
                    "مقاطع تحصیلی"
                ],
                "summary": "لیست مقاطع تحصیلی بصورت صفحه بندی",
                "description": "",
                "operationId": "939d5b2cfb66bc732c2fac28dced4706",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "جستجوی نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "مقاطع تحصیلی"
                ],
                "summary": "ثبت مقطع تحصیلی",
                "description": "",
                "operationId": "9e03a90e491c68ed9f15e99e3ea7ba0b",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/grades/{id}": {
            "post": {
                "tags": [
                    "مقاطع تحصیلی"
                ],
                "summary": "بروزرسانی مقطع تحصیلی",
                "description": "",
                "operationId": "e758c15e90d9b71c3da2fedc1e87b7ef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه مقطع تحصیلی",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "مقاطع تحصیلی"
                ],
                "summary": "حذف مقطع تحصیلی",
                "description": "",
                "operationId": "f51ba9123b9db6c4cb06436b6fc8d767",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه مقطع تحصیلی",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-feedbacks": {
            "get": {
                "tags": [
                    "بازخورد هوش"
                ],
                "summary": "لیست بازخوردهای هوش بصورت صفحه بندی",
                "description": "",
                "operationId": "1090e302b1584de7959bc7ca0082d4a8",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "بازخورد هوش"
                ],
                "summary": "ثبت بازخورد هوش",
                "description": "",
                "operationId": "f22f0e33c676b855282f3011afc6be3a",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "intelligence_package_id",
                                    "title",
                                    "max_point"
                                ],
                                "properties": {
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "number"
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "max_point": {
                                        "description": "حداکثر نمره",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-feedbacks/multiple": {
            "post": {
                "tags": [
                    "بازخورد هوش"
                ],
                "summary": "ثبت چندتایی بازخورد هوش",
                "description": "",
                "operationId": "a8e80b593721f389baff89c384650b23",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "intelligence_package_id"
                                ],
                                "properties": {
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "number"
                                    },
                                    "points": {
                                        "description": "ارزش ها",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "title": {
                                                    "type": "string"
                                                },
                                                "max_point": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-feedbacks/{id}": {
            "post": {
                "tags": [
                    "بازخورد هوش"
                ],
                "summary": "بروزرسانی بازخورد هوش",
                "description": "",
                "operationId": "3d131a755610703cc3fba62539d41fae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه بازخورد هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "title",
                                    "max_point"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    },
                                    "max_point": {
                                        "description": "امتیاز",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "بازخورد هوش"
                ],
                "summary": "حذف بازخورد هوش",
                "description": "",
                "operationId": "c10911d0b915e735b4aeb2854081335b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه بازخورد هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-point-names": {
            "get": {
                "tags": [
                    "نام های امتیاز هوش"
                ],
                "summary": "لیست نام های امتیاز هوش بصورت صفحه بندی",
                "description": "",
                "operationId": "48757172c3ba8b360f00c6760f6fd47b",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "نام های امتیاز هوش"
                ],
                "summary": "ثبت، نام های امتیاز هوش",
                "description": "",
                "operationId": "800f704a000af44d251fc9958e12aaee",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-point-names/all": {
            "get": {
                "tags": [
                    "نام های امتیاز هوش"
                ],
                "summary": "دریافت همه ی نام های امتیاز هوش",
                "description": "",
                "operationId": "1a1bba389505d88325d0c9790d9ef475",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-point-names/{id}": {
            "post": {
                "tags": [
                    "نام های امتیاز هوش"
                ],
                "summary": "بروزرسانی، نام های امتیاز هوش",
                "description": "",
                "operationId": "48e1f53ddb60918b7d6150593a2b7b8f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه نام امتیاز هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "نام های امتیاز هوش"
                ],
                "summary": "حذف، نام امتیاز هوش",
                "description": "",
                "operationId": "960eed2d6362a4d3d32dab1ab74fdcfa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه نام امتیاز هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-points": {
            "get": {
                "tags": [
                    "امتیاز هوش"
                ],
                "summary": "لیست امتیاز های هوش بصورت صفحه بندی",
                "description": "",
                "operationId": "bfa34c48874f3a6f4a15ddb8ce0c24c1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "امتیاز هوش"
                ],
                "summary": "ثبت امتیاز هوش",
                "description": "",
                "operationId": "acceb51d5500115433f74913ebbd035a",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "intelligence_package_id",
                                    "intelligence_point_name_id",
                                    "max_point"
                                ],
                                "properties": {
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "string"
                                    },
                                    "intelligence_point_name_id": {
                                        "description": "شناسه نام امتیاز",
                                        "type": "number"
                                    },
                                    "max_point": {
                                        "description": "حداکثر نمره",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-points/multiple": {
            "post": {
                "tags": [
                    "امتیاز هوش"
                ],
                "summary": "ثبت چندتایی امتیاز هوش",
                "description": "",
                "operationId": "904eb11f9c9e63aa21a8e228efea38e3",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "intelligence_package_id"
                                ],
                                "properties": {
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "number"
                                    },
                                    "points": {
                                        "description": "ارزش ها",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "intelligence_point_name_id": {
                                                    "type": "number"
                                                },
                                                "max_point": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-points/{id}": {
            "post": {
                "tags": [
                    "امتیاز هوش"
                ],
                "summary": "بروزرسانی امتیاز هوش",
                "description": "",
                "operationId": "8b375bafb00cf8cea424544dbb0af87e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه امتیاز هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "intelligence_package_id",
                                    "intelligence_point_name_id",
                                    "max_point"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "intelligence_package_id": {
                                        "description": "شناسه جدول میانی هوش پکیج",
                                        "type": "string"
                                    },
                                    "intelligence_point_name_id": {
                                        "description": "شناسه نام امتیاز",
                                        "type": "number"
                                    },
                                    "max_point": {
                                        "description": "حداکثر نمره",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "امتیاز هوش"
                ],
                "summary": "حذف امتیاز هوش",
                "description": "",
                "operationId": "7117978edaaeebb84fd02b5d1a9fb360",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه امتیاز هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligences": {
            "get": {
                "tags": [
                    "هوش"
                ],
                "summary": "لیست هوش ها بصورت صفحه بندی",
                "description": "",
                "operationId": "d8325db1cb24d8c36cec722899507d85",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "جستجوی عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "هوش"
                ],
                "summary": "ثبت هوش",
                "description": "",
                "operationId": "17f32cfd5c6273a18b2e87377550ba0e",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligences/all": {
            "get": {
                "tags": [
                    "هوش"
                ],
                "summary": "دریافت همه هوش ها",
                "description": "",
                "operationId": "52bdc2ccc47e6b7ad5043f0c9550e94d",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "جستجوی عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligences/{id}": {
            "get": {
                "tags": [
                    "هوش"
                ],
                "summary": "دریافت هوش",
                "description": "",
                "operationId": "89fe5304269719c6881cc8a46bf6ff24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "هوش"
                ],
                "summary": "بروزرسانی هوش",
                "description": "",
                "operationId": "e34271308de85f6420dc4d416d2db8f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "title"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "title": {
                                        "description": "عنوان",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "هوش"
                ],
                "summary": "حذف هوش",
                "description": "",
                "operationId": "500b23bf6d2977509dbd46d227caaee1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه هوش",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-packages/{id}/exercises": {
            "get": {
                "tags": [
                    "هوش"
                ],
                "summary": "لیست تمرینات هوش بصورت صفحه بندی",
                "description": "",
                "operationId": "46d2d9fdf356e6cf6abc37e2ab71ced6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه جدول میانی",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "جستجوی عنوان",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "tags": [
                    "شغل"
                ],
                "summary": "لیست شغل ها بصورت صفحه بندی",
                "description": "",
                "operationId": "c1eae3e152628c02f4c43fece442416a",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "جستجوی نام",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "شغل"
                ],
                "summary": "ثبت شغل",
                "description": "",
                "operationId": "8c8639cf9c3f070a17a01c8b2fb81206",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/jobs/all": {
            "get": {
                "tags": [
                    "شغل"
                ],
                "summary": "دریافت لیست شغل ها",
                "description": "",
                "operationId": "a5b6b7278df85e7cd09c30a37480b7c3",
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{id}": {
            "post": {
                "tags": [
                    "شغل"
                ],
                "summary": "بروزرسانی شغل",
                "description": "",
                "operationId": "68fe042f3ec6eac3b5a920b548225332",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه شغل",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "شغل"
                ],
                "summary": "حذف شغل",
                "description": "",
                "operationId": "9355651cf45f726b35a776d76a6a66c4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه شغل",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/majors": {
            "get": {
                "tags": [
                    "رشته تحصیلی"
                ],
                "summary": "لیست رشته های تحصیلی بصورت صفحه بندی",
                "description": "",
                "operationId": "7404c341ce6355ae1ba68ad3b8c6cffd",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "جستجوی نام",
                        "required": false,
                        "schema": {
                            "type": "srting"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "رشته تحصیلی"
                ],
                "summary": "ثبت رشته تحصیلی",
                "description": "",
                "operationId": "16f01c54607847665c9bc6f773663c5b",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/majors/all": {
            "get": {
                "tags": [
                    "رشته تحصیلی"
                ],
                "summary": "دریافت لیست رشته های تحصیلی",
                "description": "",
                "operationId": "a4bf8968def780c55e6765b39d693c88",
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/majors/{id}": {
            "post": {
                "tags": [
                    "رشته تحصیلی"
                ],
                "summary": "بروزرسانی رشته تحصیلی",
                "description": "",
                "operationId": "4026d43aa7215fdbeba8d6e394fd7750",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه رشته تحصیلی",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method",
                                    "name"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "این مقدار باید بصورت ثابت شود",
                                        "type": "string",
                                        "default": "put",
                                        "enum": [
                                            "put"
                                        ]
                                    },
                                    "name": {
                                        "description": "نام",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "رشته تحصیلی"
                ],
                "summary": "حذف رشته تحصیلی",
                "description": "",
                "operationId": "b56117afaf99a289558e54e3d52105f1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه رشته تحصیلی",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/packages/{id}/intelligences": {
            "get": {
                "tags": [
                    "پکیج"
                ],
                "summary": "لیست هوش های پکیج بصورت صفحه بندی",
                "description": "",
                "operationId": "275681b3f512ca42ac651eba9f7ce61c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه پکیج",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "شماره صفحه",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "تعداد نمایش در هر صفحه",
                        "schema": {
                            "type": "number"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "عملیات موفق",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "پکیج"
                ],
                "summary": "ثبت هوش برای پکیج",
                "description": "",
                "operationId": "89a1bd61a472b2177c9368bf7e25460f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "شناسه پکیج",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "intelligence_id"
                                ],
                                "properties": {
                                    "intelligence_id": {
                                        "description": "شناسه هوش",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ثبت با موفقیت انجام شد",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/intelligence-packages/{id}": {
            "get": {
                "tags": [
                    "پکیج"
                ],
                "summary": "دریافت یک هوش پکیج",
[...]
